@keyframes clouds {
    0%{
        left:-150%;
    }
    100%{
        left: 120%;
    }
}
.cloud {
    border-radius: 10px;
    position: relative;
    margin: 54px 0 0 0;
    animation: clouds infinite 25s linear;
    width: 54px;
    height: 5px;
    background: #f7e7eb;

    div {
        box-shadow: inset -2px -3px 0 0 #f7e7eb;
        position: absolute;

        border-radius: 50%;
        width: 12px;
        height: 12px;

        left: -3px;
        bottom: 0;

        background: var(--white);
        z-index: 10;

        &:first-child {
            & + div {
                transform: scale(1.6, 1.6);
                margin: 0 0 4px 13px;
                z-index: 9;

                & + div {
                    transform : scale(2.4, 2.4);
                    margin: 0 0 9px 32px;
                    z-index: 8;

                    & + div {
                        transform: scale(1.3, 1.3);
                        margin: 0 0 2px 50px;
                        z-index: 7;
                    }
                }
            }
        }
    }
}